ion-toolbar{
    text-align: center;
    div{
        display: inline-block;
        //margin-left: 2.5%;
        //margin-left: 2.5vw;
        //margin: 0 auto;
        margin-left: 1%;
        margin-right: 1%;
        ion-tab-button{
            ion-icon{
                font-size: 270%;
            }
            
            ion-label{
                font-size: 90%;
            }
        }
    }
}

ion-list{
    img{
        width:31%;
        height: 70%;
    }

    ion-label{
        padding-left: 15px;
        font-size: 130%;
    }
}

