<ion-content>

  <img src="../../assets/dnd_logo.png">

  <div>
    <ion-button strong="true">
      Entrar com Google
      <ion-img src="../../assets/icon/google.png"></ion-img>
    </ion-button>
    

    <ion-button strong="true">
      Entrar com Facebook
      <ion-img src="../../assets/icon/facebook.png"></ion-img>
    </ion-button>

    <ion-button strong="true">
      Entrar com Twitter
      <ion-img src="../../assets/icon/twitter.png"></ion-img>
    </ion-button>

    <ion-button (click)="goLoginPage()" strong="true" class="conta">Entrar com uma conta</ion-button>
  </div>

</ion-content>
